{
    "singleQuote": true,
    "printWidth": 80,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "tabWidth": 4,
    "semi": true,
    "endOfLine": "lf",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.handlebars",
            "options": {
                "parser": "html"
            }
        }
    ]
}
