@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    height: 1955px;
    width: 1440px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 735px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);

    .content {
        padding: 50px;

        > * {
            margin-bottom: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }

        h1 {
            font-family: 'Young Serif';
            font-size: 2.4rem;
            font-weight: 400;
            color: hsl(24, 5%, 18%);
        }

        h2 {
            font-family: 'Young Serif';
            font-weight: 400;
            color: hsl(14, 45%, 36%);
        }

        p {
            margin-top: -15px;
        }

        .preparationTime {
            background-color: hsl(330, 100%, 98%);
            padding: 25px;

            border-radius: 15px;
            h3 {
                padding-bottom: 5px;
                color: hsl(332, 51%, 32%);
            }
            ul {
                padding-left: 23px;
            }
            li {
                padding-top: 10px;
                padding-left: 15px;

                &::marker {
                    color: hsl(332, 51%, 32%);
                }
            }
        }

        .ingredients {
            padding-bottom: 30px;
            border-bottom: 1px solid hsl(30, 18%, 87%);
            ul {
                padding-left: 23px;
            }
            li {
                padding-top: 10px;
                padding-left: 12px;

                &::marker {
                    color: hsl(14, 45%, 36%);
                }
            }
        }

        .instructions {
            padding-bottom: 30px;
            border-bottom: 1px solid hsl(30, 18%, 87%);
            ol {
                padding: 20px 10px 0 22px;
            }
            li {
                padding-top: 10px;
                padding-left: 10px;
                strong {
                    color: hsl(30, 10%, 34%);
                }
                &::marker {
                    color: hsl(14, 45%, 36%);
                    font-weight: 800;
                }
            }
        }

        .nutrition {
            margin-bottom: 0;
            p {
                margin: 15px 0;
            }

            li {
                list-style-type: none;
                padding: 10px 250px 10px 30px;
                border-bottom: 1px solid hsl(30, 18%, 87%);
                display: flex;
                justify-content: space-between;

                strong {
                    width: 50px;
                    color: hsl(14, 45%, 36%);
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }
    }
}
